<html>
    <head>
        <title>Ryan's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Ryan's Blog</a></h1>
        </div>

        <div>
            <p>published: 12.28.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>I love Rileigh</p>
        </div>

        <div>
            <p>published: 12.28.2017, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I love Rileigh more than before.</p>
        </div>
    </body>
</html>
